# Data ETL

## Initialize Packages

In [10]:
import pandas as pd
import numpy as np
# import polars as pl
import gdown
import os
import rich

In [5]:
# UNCOMMENT CODE IN THIS CHUNK FOR THE FIRST TIME USING THIS REPO - Onetime data downloading from Google Drive
# https://drive.google.com/file/d/1Wvf4WmgOVFLu3snFkIUYI6Y5unM9b5o1/view?usp=drive_link
# https://drive.google.com/file/d/17j2pkUwyUdOWg3-2xKQReL2JVHtSbGSN/view?usp=drive_link
model_file_id = "1Wvf4WmgOVFLu3snFkIUYI6Y5unM9b5o1"
gdown.download(
    f"https://drive.google.com/uc?id={model_file_id}",
    'synthetic_auto_policies_model_data_10042025.csv', 
    quiet=False)
inference_file_id = "17j2pkUwyUdOWg3-2xKQReL2JVHtSbGSN"
gdown.download(
    f"https://drive.google.com/uc?id={inference_file_id}",
    'synthetic_auto_policies_inference_data_10042025.csv', 
    quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1Wvf4WmgOVFLu3snFkIUYI6Y5unM9b5o1
To: /Users/adervesh03/Desktop/Iowa/2025 Fall/MS Data Science Practicum/Hawkeye-Datathon-2025/project/synthetic_auto_policies_model_data_10042025.csv
100%|██████████| 1.92M/1.92M [00:00<00:00, 43.0MB/s]
Downloading...
From: https://drive.google.com/uc?id=17j2pkUwyUdOWg3-2xKQReL2JVHtSbGSN
To: /Users/adervesh03/Desktop/Iowa/2025 Fall/MS Data Science Practicum/Hawkeye-Datathon-2025/project/synthetic_auto_policies_inference_data_10042025.csv
100%|██████████| 1.51M/1.51M [00:00<00:00, 9.03MB/s]

'synthetic_auto_policies_inference_data_10042025.csv'

## Extract Data

In [7]:
model_data = pd.read_csv('synthetic_auto_policies_model_data_10042025.csv')
print( model_data.shape )
model_data.head(5)

(15000, 24)

,id,fold,sample,veh_value,exposure,veh_body,veh_age,gender,area,agecat,...,marital_status,e_bill,time_of_week_driven,time_driven,trm_len,credit_score,low_education_ind,clm,numclaims,claimcst0
0,1,2,1|bld,5.80,0.362191,SUV,2,F,B,1,...,M,0,weekday,12pm - 6pm,6,646.516469,0.0,1,1,2023.198184
1,2,3,1|bld,5.67,0.632068,STNWG,4,F,A,2,...,S,0,weekend,6am - 12pm,12,635.400369,0.0,1,1,3600.172234
2,3,1,1|bld,5.90,0.367460,SEDAN,2,F,C,2,...,M,0,weekday,6am - 12pm,12,646.463131,0.0,1,1,2021.144067
3,4,2,1|bld,4.79,0.802184,STNWG,3,M,B,4,...,M,1,weekday,6pm - 12am,12,645.598794,0.0,1,1,4006.845492
4,5,2,1|bld,6.68,0.485009,SEDAN,3,M,C,1,...,S,0,weekday,6am - 12pm,12,657.348612,0.0,1,1,2542.953931

In [9]:
inference_data = pd.read_csv('synthetic_auto_policies_inference_data_10042025.csv')
print( inference_data.shape )
inference_data.head(5)

(15000, 19)

,id,veh_value,exposure,veh_body,veh_age,gender,area,agecat,engine_type,max_power,driving_history_score,veh_color,marital_status,e_bill,time_of_week_driven,time_driven,trm_len,credit_score,low_education_ind
0,8295,6.36,0.777085,SUV,3,M,A,2,hybrid,128,81,silver,S,1,weekend,6am - 12pm,12,644.721808,0
1,17625,2.56,0.528369,STNWG,1,F,A,1,dissel,178,94,white,S,1,weekday,12pm - 6pm,12,634.306196,0
2,3802,6.18,0.384591,HDTOP,4,F,D,3,petrol,270,77,yellow,M,1,weekday,6pm - 12am,12,649.245139,0
3,12865,6.49,0.116378,SUV,3,M,D,4,petrol,120,59,gray,S,1,weekday,6am - 12pm,12,647.594655,0
4,6495,6.46,0.688417,SEDAN,2,F,C,4,petrol,94,81,green,S,1,weekday,6am - 12pm,12,657.550500,0

## Clean Data